body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none; /* Ocultar el estilo predeterminado de los selects en algunos navegadores */
}

/* Sección de diseño para la sección de factura */
.factura {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos para los campos de la sección de factura */
.factura label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

.factura input[type="text"],
.factura input[type="number"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

